* {
  padding: 0;
  margin: 0;
}
/* html {
  scroll-behavior: smooth;
} */
.banner1 {
  background-image: url("anh/Backgroundbanner1.png");
  width: 100%;
  height: 800px;
}
.noidung1-1 {
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 400px;
  padding-top: 200px;
  float: right;
}
.tieude1-1 {
  color: white;
  font-size: 30px;
}
.Header1-1 {
  color: white;
  font-size: 65px;
}
.material1-1 {
  color: white;
  font-size: 35px;
}
.noidung1-2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-top: 550px;
  padding-left: 100px;
}
.tieude1-2 {
  color: white;
  font-size: 20px;
}
.Header1-2 {
  color: white;
  font-size: 20px;
}
.material1-2 {
  color: white;
  font-size: 20px;
}
hr {
  color: white;
}
.cot_2 {
  padding-top: 20px;
  padding-right: 50px;
  text-align: center;
  width: 150px;
  float: right;
}
.tieude2 {
  padding-left: 100px;
  padding-top: 545px;
}
.tieude2-1 {
  font-size: 60px;
  font-weight: bold;
  width: 150px;
}
.tieude2-2 {
  font-size: 40px;
  width: 200px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.anh2 {
  background-image: url("anh/Backgroundbanner2.png");
  width: 100%;
  height: 600px;
}
.banner2 {
  height: 800px;
  padding-top: 20px;
}
.noidung3 {
  background-color: white;
  width: 300px;
  margin-left: 100px;
}
.banner3 {
  height: 600px;
  background-color: rgb(249, 249, 249);
}
.material3--sun {
  font-size: 20px;
  width: 100px;
}
.material3--water {
  font-size: 20px;
  width: 200px;
}
.tieude3-2 {
  font-size: 21px;
  width: 200px;
}
.header3-2 {
  font-size: 20px;
  width: 300px;
}
.tieude3-1 {
  font-size: 60px;
  width: 150px;
}
.Header3-1 {
  font-size: 40px;
  width: 100px;
}
hr {
  width: 200px;
}
.banner4 {
  padding-top: 50px;
  background-color: white;
  height: 1000px;
}
.noidung4 {
  padding-left: 100px;
  width: 500px;
}
.button {
  padding-left: 1200px;
}
.buttonbanner4 {
  padding: 10px 20px;
  font-size: 20px;
  background-color: green;
  color: white;
  font-weight: bold;
  border: none;
}
.buttonbanner4:hover {
  background-color: darkgreen;
  color: yellow;
  transform: scale(2);
}
.tieude4 {
  font-size: 60px;
  font-weight: bold;
  padding-left: 100px;
}
.Header4 {
  font-size: 80px;
  color: greenyellow;
  padding-left: 100px;
}
.material4 {
  font-size: 50px;
  padding-top: 20px;
  color: gray;
  width: 400px;
  padding-left: 100px;
}
.anh4 {
  padding-left: 5px;
  padding-top: 50px;
}
.cot_4 {
  float: left;
  width: 32%;
  padding-left: 10px;
}
.banner5 {
  width: 100%;
  height: 1000px;
  background-image: url("anh/Backgroundbanner5.png");
  margin-top: 70px;
}
.noidung5 {
  padding-left: 100px;
  padding-top: 200px;
}
.tieude5 {
  width: 300px;
  font-size: 80px;
}
.material5 {
  font-size: 50px;
  padding-top: 100px;
  color: gray;
  width: 700px;
}
.banner6 {
  position: relative;
  height: 1000px;
  background-image: url("anh/Backgroundbanner6.png");
}
.noidung6 {
  padding-left: 70px;
  padding-top: 300px;
}
.tieude6 {
  padding-left: 50px;
  width: 100px;
  font-size: 70px;
}
.material6 {
  font-size: 50px;
  padding-top: 50px;
  width: 700px;
  padding-left: 50px;
}
.anh6 {
  float: right;
}
.anhnho1 {
  position: absolute;
  top: 218px;
  left: 878px;
  z-index: 1;
}
.anhnho2 {
  position: absolute;
  top: 165px;
  left: 1227px;
  z-index: 1;
}
.anhnho3 {
  position: absolute;
  top: 300px;
  left: 958px;
  z-index: 0;
}
.anhnho4 {
  position: absolute;
  top: 476px;
  left: 1189px;
  z-index: 1;
}
.banner7 {
  width: auto;
  height: 700px;
  background-image: url("./anh/backgroundbanner7.png");
}
.noidung7 {
  float: right;
  padding-right: 100px;
  padding-top: 300px;
  text-align: right;
  color: white;
}
.tieude7 {
  width: 500px;
  font-size: 60px;
}
.Header7 {
  font-size: 30px;
  width: 500px;
}
.material7-1 {
  font-size: 20px;
  width: 500px;
}
.material7-2 {
  font-size: 20px;
  width: 500px;
}
.tieude8 {
  text-align: center;
  font-size: 50px;
  height: 70px;
  margin-top: 50px;
}
.Header8 {
  text-align: center;
  top: 10px;
  font-size: 25px;
  color: black;
  height: 70px;
}
.noidung8-1 {
  height: 500px;
}
.noidung8-1 .col8-1 {
  float: left;
  width: 25%;
}
.col8-1 img {
  padding-left: 20px;
  width: 80%;
  height: auto;
  justify-content: space-evenly;
}
.noidung8-1 .col8-1 p:first-of-type {
  padding-left: 20px;
  color: rgb(2, 74, 2);
  font-size: 30px;
  height: 25px;
}
.noidung8-1 .col8-1 p:last-of-type {
  padding-right: 40px;
  color: black;
  font-size: 20px;
  text-align: end;
}
.noidung8-2 {
  height: 500px;
}
.noidung8-2 .col8-2 {
  float: left;
  width: 25%;
}
.col8-2 img {
  padding-left: 20px;
  width: 80%;
  height: auto;
  justify-content: space-evenly;
}

.noidung8-2 .col8-2 p:first-of-type {
  padding-left: 20px;
  height: 25px;
  color: rgb(2, 74, 2);
  font-size: 30px;
}
.noidung8-2 .col8-2 p:last-of-type {
  padding-right: 40px;
  color: black;
  font-size: 20px;
  text-align: end;
  height: 50px;
}
.noidung9 {
  color: white;
  margin-top: 20px;
  background-image: url("anh/backgroundbanner9.png");
  width: 100%;
  height: 900px;
}
.tieude9 {
  padding-top: 400px;
  font-size: 4rem;
  width: 40%;
  padding-left: 300px;
  line-height: normal;
  color: var(--White-color);
}
